.App {
  text-align: center;
  display: grid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: Montserrat;
  font-weight: 500;
  color: #8f8f8f;
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 70px;
}

.navbar {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  padding: 0 100px;
}

/* .carousel-item {
  height: 100%;
  width: 100%;
} */

.popular-pick {
  padding: 80px 100px;
}

.product-item {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}
.product-image {
  width: 100%;
}

.product-category {
  height: 500px;
  padding: 20px 100px;
  margin-bottom: 30px;

}

.category-image-container {
  padding: 0;
  padding-right: 15px;
}

.category-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.category-image-container {
  padding-left: 15px;
}

.category-info {
  height: 500px;
  background-color: #E3E3E3;
  padding: 160px 160px;
}

.shop-by-categories-button {
  background-color: #cd973d;
  border: none;
  border-radius: 0;
  font-family: Montserrat;
  font-weight: 600px;
  padding: 10px 30px;
  margin-top: 10px;
}

.view-all-product-button {
  background-color: #cd973d;
  border: none;
  border-radius: 0;
  font-family: Montserrat;
  font-weight: 600px;
  padding: 10px 120px;
  margin-top: 80px;
}

h2 {
  font-family: Montserrat;
  padding-bottom: 10px;
  /* color: #5d5d5d; */
}

p {
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 500;
  /* color: #242424; */
}

.footer {
  margin-top: 80px;
}
.footer-info {
  width: 100%;
  height: 300px;
  background-color: #212020;
}

.copyright-container {
  width: 100%;
  height: 60px;
  background-color: #1a1a1a;
}

.copyright {
  color: white;
  padding-top: 19px;
  font-family: Source Sans Pro;
  font-size: 13px;
}